<header class="container header">
  <div class="home">
    <a href="/">Абибок</a>
  </div>

  <nav>
    <ul class="menu">
      <li><a href="realty">Недвижимость</a></li>
      <li><a href="transport">Транспорт</a></li>
      <li><a href="electronics">Электроника</a></li>
      <li><a href="hobby">Хобби</a></li>
      <li><a href="services">Услуги</a></li>
    </ul>
  </nav>


  <div class="create_ads">
    <a href="/create_ad">Добавить объявление</a>
  </div>
</header>