{{#if message}}
<div class="message">
  {{message}}
</div>
{{else}}
<form action="/" method="POST" class="ads_form">
  <input type="text" name="title" placeholder="Заголовок объявления">

  <select name="category">
    <option>Выберите категорию</option>
    <option value="realty">Недвижимость</option>
    <option value="transport">Транспорт</option>
    <option value="electronics">Электроника</option>
    <option value="hobby">Хобби</option>
    <option value="services">Услуги</option>
  </select>

  <textarea name="text" cols="30" rows="10" placeholder="Текст объявления"></textarea>


  <input type="text" name="author" placeholder="Автор объявления">
  <input type="email" name="email" id="" placeholder="Email автора">
  <button type="submit" class="form_btn">Опубликовать</button>
</form>
{{/if}}