<div class="ads">
  {{#if ads}}
  {{#each ads}}
  {{#with this}}
  <div class="ad">
    <h3 class="title">{{title}}</h4>
      <div class="category">{{category}}</div>
      <div class="text">{{text}}</div>
      <div class="author">{{author}}</div>
      <div class="email">{{email}}</div>
      <div class="published">{{formatTime published}}</div>
  </div>
  {{/with}}
  {{/each}}
  {{else}}
  Объявления отсутствуют
  {{/if}}
</div>