* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  height: 100vh;
--egg-shell: #F4F1DE;
--terra-cotta:#E07A5F;
--independence:#3D405B;
--green-sheen:#81B29A;
--deep-champage:#F2CC8F;
}

a {
  text-decoration: none;
}

ul {
  list-style:none;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.header {
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  background-color: var(--terra-cotta);
}

.menu {
  width: 600px;
  margin-left: 4rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.menu li > a {
  text-transform: uppercase;
  color: var(--independence);
}

.home {
  text-transform: uppercase;
  letter-spacing: 3;
}

.create_ads {
  margin-left: auto;
  text-transform: uppercase;
}

.home a,
.create_ads a {
  color: var(--egg-shell);
}

.main {
  padding: 1rem 0;
  height: 92.1vh;
  overflow: auto;
}

.ads_form {
  width: 400px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
}

.ads_form * {
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.ads_form > button {
  width: 120px;
  margin: auto;
}

.message {
  margin: 2rem auto;
  text-align: center;
}

.ads {
  width: 50%;
  margin: auto;
}

.ad {
  width: 500px;
  margin: auto;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--deep-champage);
  border:  1px solid var(--independence);
}

.ad > * {
  margin-top: 1rem;
}

.ad .published {
  width: 100px;
  font-size: 10px;
  margin-left: auto;
}

.footer {
  padding: 0.5rem;
  text-align: center;
  color: var(--egg-shell);
  background-color: var(--green-sheen);
}